target/
.idea/
.vscode/
.settings/
out/
node_modules/
External Libraries/
Scratches and Consoles/
resources/application.properties
.env


# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
venv/
.venv/
ai-service/models/

# Docker
docker-compose.override.yml

# Eureka / Gateway build
eureka-server/target/
gateway/target/

# Compiled classes
*.class

# Package files
*.jar
*.war
*.ear
